main {
    display: flex;
    justify-content: space-between;
}

.statistic {
    display: flex;
    color: #888888;
    font-size: 12px;
}

.statistic > div {
    display: flex;
    align-items: center;
    margin-right: 21px;
}

.statistic > div > img {
    margin-right: 6px;
}

/*main news*/
.main-news-container {
    width: 690px;
    display: flex;
    flex-direction: column;
}

.main-news-container > .big-news-container a {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.main-news-container > .big-news-container > img {
    width: 690px;
    height: 360px;
}

.main-news-container > .big-news-container > .info-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: #888888;
    font-size: 12px;
}

.main-news-container > .big-news-container h1 {
    font-size: 24px;
    margin-top: 13px;
    line-height: 130%;
}

.main-news-container > .big-news-container p {
    font-size: 16px;
    margin-top: 15px;
}

.main-news-container > .big-news-container {
    margin-bottom: 54px;
}

/*hot container*/

.hot-container {
    width: 240px;
}

.small-news-container {
    margin-bottom: 26px;
}

.small-news-container > a {
    text-decoration: none;
    color: #000000;
    display: flex;
}

.small-news-container >.image-link{
    margin-bottom: 15px;
}

.small-news-container > .header {
    margin-top: 11px;
    margin-bottom: 11px;
}

.small-news-container > a > img {
    width: 240px;
}

.small-news-container > a > h2 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 135%;
}

