main {
    width: 1230px;
    display: flex;
    justify-content: space-between;
    margin: 31px auto 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 23px;
}

/*tag*/
.tag {
    color: #ffffff;
    padding: 3px 14px;
    font-weight: 600;
    font-size: 11px;
    margin-right: 30px;
    display: inline-block
}

.tag.yellow {
    background: #E7C652;;
}

.tag.green {
    background: #68E082;
}

.tag.blue {
    background: #609FFF;
}

/*statistic*/
.statistic {
    display: flex;
    color: #888888;
    font-size: 12px;
}

.statistic > div {
    display: flex;
    align-items: center;
    margin-right: 21px;
}

.statistic > div > img {
    margin-right: 6px;
}

/*main news*/
.main-news-container {
    width: 690px;
}

.main-news-container > .big-news-container > img {
    width: 690px;
    height: 360px;
}

.main-news-container > .big-news-container > .info-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: #888888;
    font-size: 12px;
}

.main-news-container > .big-news-container > .info-container > .data {
    margin-right: 30px;
}

.main-news-container > .big-news-container h1 {
    font-size: 24px;
    margin-top: 13px;
    line-height: 130%;
}

.main-news-container > .big-news-container p {
    font-size: 16px;
    margin-top: 15px;
}

.main-news-container > .big-news-container {
    margin-bottom: 54px;
}

/*hot container*/

.hot-container {
    width: 240px;
}

.small-news-container {
    margin-bottom: 26px;
}

.small-news-container > img {
    width: 240px;
    margin-bottom: 15px;
}

.small-news-container > h2 {
    font-size: 14px;
}

.small-news-container > h2 {
    margin-top: 8px;
    margin-bottom: 11px;
}

/*last news*/
.last-news {
    width: 240px;
}

.last-news .news-description{
    font-size: 12px;
    margin-bottom: 18px;
    line-height: 150%;
}

.last-news .news-description >span{
    margin-right: 7px;
    color: #888888;
}