.smallNewsContainer {
  margin-bottom: 26px;

  > a {
    text-decoration: none;
    color: #000000;
    display: flex;

    img {
      width: 240px;
    }

    h2 {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 600;
      line-height: 135%;
    }
  }

  .tagContainer{
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .imageLink {
    margin-bottom: 15px;
  }

  .title {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}