main {
    display: flex;
}

.full-news-container {
    margin-left: 180px;
    width: 780px;
    margin-right: 30px;
}

.info-container {
    color: #888888;
}

.info-container select {
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background: url("../public/arrow-down-black.svg") no-repeat right;
    padding: 10px;
}

.full-news-container > .news-name {
    line-height: 120%;
    margin-bottom: 33px;
    border: none;
    color: #000000;
    font-weight: bold;
    font-size: 35px;
}

.full-news-container > .news-name::placeholder {
    color: #000000;
    font-weight: bold;
    font-size: 35px;
    opacity: 1;
}

.full-news-container .image-container {
    width: 100%;
    height: 407px;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
}

.full-news-container .image-container > img {
    cursor: pointer;
}

.full-news-container .full-text {
    margin-bottom: 53px;
}

.button-container{
    width: 100%;
    justify-content: flex-end;
    display: flex;
}