main {
    display: flex;
    position: relative;
}

/*statistics*/
.statistics-container {
    position: fixed;
    top: 344px;
    height: 109px;
    width: 98px;
    color: #6A6A6A;
    font-size: 16px;
    line-height: 120%;
}

.statistics-container > div {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.statistics-container img {
    width: 23px;
    height: 23px;
    margin-right: 13px;
}

.statistics-container > .edit {
    cursor: pointer;
}

/*end statistics*/
.full-news-container {
    margin-left: 180px;
    width: 780px;
    margin-right: 30px;
}

.full-news-container > .info-container {
    margin-bottom: 18px;
}

.full-news-container > h1 {
    font-size: 35px;
    line-height: 120%;
    margin-bottom: 33px;
}

.full-news-container > img {
    width: 780px;
    height: 407px;
    margin-bottom: 34px;
}

.full-news-container > .full-text {
    font-size: 18px;
}

.full-news-container > .full-text > p {
    margin-bottom: 27px;
}

.full-news-container > .full-text > p:last-child {
    margin-bottom: 0;
}

/*comments-container*/
.comments-container {
    margin-top: 45px;
}

.comments-container .name {
    color: #888888;
    font-size: 16px;
    padding-bottom: 16px;
    margin-bottom: 46px;
    border-bottom: 1px solid #ECECEC;;
}

.comments-container .name > span {
    color: #000000;
}

.comments-container .add-container {
    display: flex;
    margin-bottom: 45px;
}

.comments-container .add-container > div {
    width: 690px;
}

.comments-container .add-container input {
    color: #888888;
    border: none;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 4px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 11px;
}

.comments-container .add-container .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.user-comment-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 21px;
}

.subcomment-user-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 23px;
}

.comment-container {
    display: flex;
    font-size: 16px;
    line-height: 150%;
}

.comment-container > div > .username {
    font-weight: 600;
    margin-bottom: 6px;
}

.comment-container > div > .comment-text {
    margin-bottom: 8px;
}

.comment-container > div > .comment-text .answer-reference {
    color: #FF1850;
}

.comment-container > div > .answer {
    color: #888888;
    font-weight: 500;
}

.comment-container > div > .hide-show {
    color: #FF1850;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-top: 8px;
    font-weight: 500;
}

.comment-container > div > .hide-show > img {
    margin-right: 12px;
}