$lightgrey: #D1D1D1;
$midgrey: #888888;
$darkgrey: #6A6A6A;
$verylightgrey: #ECECEC;
$brandcolor: #FF1850;

$header_background_color: #181818;

$light_text_color: #ffffff;
$dark_text_color: #000000;

$background_color: #ffffff;