@import '../../commonCss/colors';

nav {
  display: flex;
  color: $light_text_color;
  width: 980px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;

  > a {
    color: $light_text_color;

    &:hover {
      color: $midgrey;
      cursor: pointer;
    }
  }
}