@import '../../commonCss/colors';

nav {
  display: flex;
  color: $header_text_color;
  width: 980px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}

nav > div:hover {
  color: $midgrey;
  cursor: pointer;
}