@import '../../commonCss/colors';
@import '../../commonCss/common';

header {
  background: $header_background_color;
  height: 70px;
  display: flex;
  align-items: center;
}

.headerContainer {
  width: $working_area_width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.headerContainer > div {
  width: 93px;
  display: flex;
  justify-content: space-between;
}