.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 29px;

  .userForm {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 25px;
      width: 248px;
      text-align: center;
      margin-bottom: 21px;
    }

    input{
      margin-bottom: 18px;

      &.username{
        margin-top: 25px;
      }

      &.newPassword{
        margin-bottom: 33px;
      }
    }

  }
}