@import '../../commonCss/colors';

.searchContainer {
  position: relative;

  input {
    position: absolute;
    left: -195px;
    top: -3px;
    border: none;
    border-bottom: 1px solid $lightgrey;
    background: none;
    width: 183px;
    height: 26px;
    background: $header_background_color;
  }

  .active {
    display: block;
  }

  .unActive {
    display: none;
  }

  .activateIcon {
    cursor: pointer;
  }

}